.toolbar {
  color: #000;
  background-color: #6a41ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo {
  font-size: 2rem;
}

.menu {

}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu__list-item {
  list-style-type: none;
  border: 2px solid #000;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu__list-item:last-child {
  color: #fff;
  border: 2px solid #fff;
}
